*{
     margin: 0px;
     padding: 0px;
     font-family: 'Bubblegum Sans',cursive;
     color: aliceblue;
}

:root {
     --bg : color-mix(in xyz-d65, transparent 60%, rgb(255, 124, 76) 100%); 
   }

.main::before{
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     background-image: url(../../public/stock_bg.png);
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     z-index: -1;
     opacity: 0.95;
}

h1{
     color: rgb(208 87 43 / 93%);
     font-family: 'Bree Serif', serif;
     font-size: 3.5rem;
     font-weight: bolder;
     padding-top: 25px;
     padding-left: 40px;
     text-shadow: 4px 1px 1px pink;
}

h2{
     color: rgb(255 168 134);
}

.search{
     margin-top: 60px;
     font-size: 1rem;
     margin-left: 40px;
}

#searchbox {
     color: pink;
     margin-top: 18px;
     padding: 12px 23px;
     width: 375px;
     border: 3px solid rgb(255, 171, 138) ;
     border-radius: 1px;
     background: transparent;
     transition: all ease-in-out 0.1s 0s;
 }

 #searchbox:hover, #searchbox:active{
     border: 3px solid white;
 }

 .btn {
     background-color: var(--bg);
     margin-top: 23px;
     margin-left: 40px;
     padding: 10px 10px;
     width: 125px;
     transition: all ease-in-out 0.2s 0s;
     border-top: 3px solid rgb(255, 255, 255);
     border-left: 3px solid rgb(255, 255, 255);
     border-right: 3px solid var(--bg);
     border-bottom: 3px solid var(--bg);
     cursor: pointer;
 }

 .btn:hover{
      margin-left: 45px;
      margin-top:25px ;
      border-bottom: 3px solid #00ffe3;
     border-right: 3px solid #00ffe3;
     border-left: 3px solid var(--bg);
     border-top: 3px solid var(--bg);
 }

 .btn:active{
     border-bottom: 3px solid #00ffe3;
     border-right: 3px solid #00ffe3;
     border-left: 3px solid var(--bg);
     border-top: 3px solid var(--bg);
     text-decoration: underline rgb(255, 173, 186);
 }

::placeholder{
     color: rgb(206, 231, 255);
}

h6{
     color: pink;
     margin-left: 40px;
     margin-top: 20px;
     font-size: 1.1rem;
}

.fetchedData{
     color:#00ffe3;
     margin-left: 40px;
     margin-right: 40px;
     margin-top: 20px;
     font-size: 1.5rem;
}

.fetchedData p{
     margin: 2px;
     padding: 3px;
     text-shadow: 3px 3px 10px #00c3ff;
}

@media (max-width: 580px) {
     h1 {
          color: rgb(208 87 43 / 93%);
          font-family: 'Bree Serif', serif;
          font-size: 2.3rem;
          font-weight: bolder;
          padding-top: 25px;
          padding-left: 20px;
          text-shadow: 3px 1px 1px pink;
      }

      .search {
          margin-top: 45px;
          font-size: 0.8rem;
          margin-left: 20px;
      }
      #searchbox {
          color: pink;
          margin-top: 18px;
          padding: 7px 14px;
          width: 230px;
          border: 3px solid rgb(255, 171, 138);
          border-radius: 8px;
          background: transparent;
          transition: all ease-in-out 0.1s 0s;
      }
      .btn {
          background-color: var(--bg);
          margin-top: 18px;
          margin-left: 20px;
          padding: 7px 10px;
          width: 125px;
          transition: all ease-in-out 0.2s 0s;
          border-top: 3px solid rgb(255, 255, 255);
          border-left: 3px solid rgb(255, 255, 255);
          border-right: 3px solid var(--bg);
          border-bottom: 3px solid var(--bg);
          border-radius: 8px;
          cursor: pointer;
     }
     .btn:hover {
          border-radius: 7px;
          margin-left: 25px;
          margin-top: 25px;
          border-bottom: 3px solid #00ffe3;
          border-right: 3px solid #00ffe3;
          border-left: 3px solid var(--bg);
          border-top: 3px solid var(--bg);
      }
      .fetchedData {
          color: #00ffe3;
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          font-size: 1.2rem;
      }
      h6 {
          color: pink;
          margin-left: 25px;
          margin-top: 20px;
          font-size: 1.1rem;
      }
     }